.header {
    background-color: #dcdcdc;
    &__logo {
        display: flex;
        justify-content: space-between;
        align-content: center;
        color: #60606e;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 50px 0;
        a {
            color: #60606e;
            font-size: 28px;
            cursor: pointer;
            &:hover i{
                color: #4a826f;
            }
        }
    }
    &__title {
        color: #60606e;
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    &__middle {
        height: 400px;
        background-color: #dcdcdc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 1s;
        overflow: hidden;
        &-active {
            height: 0px;
            overflow: hidden;
            transition: all 1s;
        }
    }
    &__menu {
        ul {
            display: flex;
            list-style-type: none;
            justify-content: center;
            padding: 20px 0;
            li {
                a {
                    color: #60606e;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                    &:hover {
                        color: #4a826f;
                    }

                }
                &:first-child:after{
                    content: "/";
                    margin: 5px;
                    font-family: Montserrat;
                    font-size: 13px;
                    font-weight: 600;
                }
            }

        }
    }
}