section.bodys
  .container
    .bodys__blocks
      .bodys__block
        .bodys__title about us
        .bodys__disc we are awersome
        .bodys__content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      .bodys__block
        .bodys__title what we do
        .bodys__disc creative & digital
        .bodys__content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
.section.some
  .container 
    .some__title some benefits
    .some__content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .some__blocks
      .some__block
        .some__elem
          .some__img
            i.ion-android-phone-portrait
          .some__name FULLY RESPONSIVE
        .some__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
      .some__block
        .some__elem
          .some__img
            i.ion-android-phone-portrait
          .some__name FULLY RESPONSIVE
        .some__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
      .some__block
        .some__elem
          .some__img
            i.ion-android-phone-portrait
          .some__name FULLY RESPONSIVE
        .some__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
      .some__block
        .some__elem
          .some__img
            i.ion-android-phone-portrait
          .some__name FULLY RESPONSIVE
        .some__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
      .some__block
        .some__elem
          .some__img
            i.ion-android-phone-portrait
          .some__name FULLY RESPONSIVE
        .some__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
      .some__block
        .some__elem
          .some__img
            i.ion-android-phone-portrait
          .some__name FULLY RESPONSIVE
        .some__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
.section.the
  .container 
    .the__title THE DREAM TEAM
    .the__content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .the__blocks 
      .the__block 
        img(src="img/work/img1.png" alt="img1")
      .the__block 
        img(src="img/work/img1.png" alt="img1")
      .the__block 
        img(src="img/work/img1.png" alt="img1")
      .the__block 
        img(src="img/work/img1.png" alt="img1")
      .the__block 
        img(src="img/work/img1.png" alt="img1")
      .the__block 
        img(src="img/work/img1.png" alt="img1")
      .the__block 
        img(src="img/work/img1.png" alt="img1")
      .the__block 
        img(src="img/work/img1.png" alt="img1")