section.bodys
  .container
    .bodys__blocks
      .bodys__block.wow.fadeInLeft
        .bodys__title about us
        .bodys__disc we are awersome
        .bodys__content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      .bodys__block.wow.fadeInRight
        .bodys__title what we do
        .bodys__disc creative & digital
        .bodys__content Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
.section.some
  .container 
    .some__title.wow.fadeInLeft some benefits
    .some__content.wow.fadeInRight Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .some__blocks.wow.fadeInUp
      .some__block
        .some__elem
          .some__img
            i.ion-android-phone-portrait
          .some__name FULLY RESPONSIVE
        .some__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
      .some__block
        .some__elem
          .some__img
            i.ion-ios-infinite-outline
          .some__name FULLY RESPONSIVE
        .some__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
      .some__block
        .some__elem
          .some__img
            i.ion-social-wordpress-outline
          .some__name FULLY RESPONSIVE
        .some__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
      .some__block
        .some__elem
          .some__img
            i.ion-ios-cart-outline
          .some__name FULLY RESPONSIVE
        .some__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
      .some__block
        .some__elem
          .some__img
            i.ion-ios-settings
          .some__name FULLY RESPONSIVE
        .some__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
      .some__block
        .some__elem
          .some__img
            i.ion-settings
          .some__name FULLY RESPONSIVE
        .some__text Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
.section.the
  .container 
    .the__title.wow.fadeInLeft THE DREAM TEAM
    .the__content.wow.fadeInRight Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .the__blocks.wow.fadeInUp 
      .the__block 
        img(src="img/work/img1.png" alt="img1")
      .the__block 
        img(src="img/work/img2.png" alt="img2")
      .the__block 
        img(src="img/work/img3.png" alt="img3")
      .the__block 
        img(src="img/work/img4.png" alt="img4")
      .the__block 
        img(src="img/work/img5.png" alt="img5")
      .the__block 
        img(src="img/work/img6.png" alt="img6")
      .the__block 
        img(src="img/work/img7.png" alt="img7")
      .the__block 
        img(src="img/work/img8.png" alt="img8")
    .the__lorem 
      .the__text.wow.fadeInLeft Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
      a.the__btn.wow.fadeInRight(href="#") read more
section.quis
  .container 
    .quis__blocks
      .quis__block.wow.fadeInRight
        .quis__img
          img(src="img/work/img9.png" alt="img9")
        .quis__title Quisque iaculis lorem vestibulum eros vehicula, non congue elit dictum. Donec mollis aliquet lorem, eu porttitor sapien semper in. Duis ac erat luctus, gravida lectus sit amet, consectetur orci. Suspendisse libero mauris.
        a(href="#") john doe
      .quis__block.quis__items.wow.fadeInLeft
        .quis__item
          img(src="img/work/item1.png" alt="item1")
        .quis__item
          img(src="img/work/item2.png" alt="item2")
        .quis__item
          img(src="img/work/item3.png" alt="item3")
        .quis__item
          img(src="img/work/item4.png" alt="item4")
        .quis__item
          img(src="img/work/item5.png" alt="item5")
        .quis__item
          img(src="img/work/item6.png" alt="item6")
section.you 
  .container 
    .you__blocks
      .you__block.wow.fadeInLeft
        .you__title YOU THINK WE'RE COOL ? LET'S WORK TOGETHER
        a(href="#") get in touch
      .you__block.you__block-two.wow.fadeInRight
        .you__caption STAY INFORMED WITH OUR NEWSLETTER
        .you__disc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .you__search
          input(type="text" placeholder="your email")
          a(href="#") send

        

          
          
    
      
