section.footer.wow.fadeInUp
  .container
    .footer__blocks
      .footer__block.footer__menu
        ul 
          li 
            a(href="#") Home
          li 
            a(href="#") about us 
          li 
            a(href="#") services
          li 
            a(href="#") portfolio
          li 
            a(href="#") blog
          li 
            a(href="#") contact us
      .footer__block.footer__copyr
        .footer__title Created by akhouad 2016. All Rights Reserved
        .footer__icons
          a(href="https://www.facebook.com") 
            i.ion-social-facebook
          a(href="https://twitter.com")   
            i.ion-social-twitter
          a(href="https://youtube.com/")
            i.ion-social-youtube
          a(href="https://www.linkedin.com/in/dmitry-suhotsky")
            i.ion-social-linkedin
          a(href="https://picasso.by")
            i.ion-social-pinterest
          a(href="https://instagram.com")
            i.ion-social-instagram
script(src="js/menu.js")
script(src="js/wow.min.js")
script.
  new WOW().init();
