section.header 
  .container
    .header__top
      .header__logo 
        .header__logo-title Abra-cadabra
        a#btn(href="#") 
          i.ion-navicon-round
    .header__middle
      .header__title about abra-cadabra
      .header__menu
        ul 
          li 
            a(href="#") Home
          li 
            a(href="#") about

    